.auth-form {
  display: flex;
  justify-content: center;
}
.auth-form__wrapper {
  min-width: 396px;
}
.auth-form__field {
  display: block;
  position: relative;
  margin-bottom: 24px;
}
.auth-form__field:last-child {
  margin-bottom: 83px;
}
.auth-form__field_route-signin {
  margin-bottom: 42px !important;
}
.auth-form__caption {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #A0A0A0;
}
.auth-form__input {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  width: 100%;
  height: 17px;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.auth-form__stroke-line {
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background: #E8E8E8;

  transition: .3s ease background-color;
}
.auth-form__input:focus + .auth-form__stroke-line {
  background-color: #3456F3;
}

.auth-form__input-error {
  margin: 0;
  position: absolute;
  left: 0;
  top: calc(100% + 6px);

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 10px;
  
  color: #FF3055;


  transition: .5s ease opacity;
}
.auth-form__input-error-data {
  color: #FF3055;
}


@media screen and (max-width: 699px) {
  .auth-form__wrapper {
    min-width: 260px;
  }
  .auth-form__input {
    height: 14px;
  }
}
