.aboutProject {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
  padding-bottom: 110px;

  background-color: #fff;
}
.aboutProject__wrapper {
  margin-bottom: 32px;
}

.aboutProject__wrapper-text-about {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  
}

.aboutProject__text-container {
  text-align: left;
  max-width: 550px;
}

.aboutProject__header-descript {
  margin: 0;
  
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;

  color: #000000;
}

.aboutProject__description {
  margin: 0;
  margin-top: 26px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

.aboutProject__progress-bar {
  display: flex;
  width: 100%;
  height: 36px;
  margin-top: 110px;
}
.aboutProject__progress-backend, .aboutProject__progress-frontend {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 100%;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #000000;
}
.aboutProject__progress-backend {
  width: 25%;
  background-color: #2BE080;
}
.aboutProject__progress-frontend { 
  width: 75%;
  background-color: #F2F2F2;
}
.aboutProject__progress-subtitle {
  position: absolute;
  top: 50px;
  margin: 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: #A0A0A0;
}

@media screen and (min-width: 700px) and (max-width: 1136px) {
  .aboutProject {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .aboutProject__text-container {
    max-width: 319px;
  }
  .aboutProject__description {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }
  .aboutProject__progress-subtitle {
    font-weight: 400;
  }
}
@media screen and (max-width: 699px) {
  .aboutProject {
    padding: 70px 0 70px 0;
  }
  .aboutProject__wrapper-text-about {
    margin-top: 60px;
  }
  .aboutProject__wrapper-text-about {
    flex-direction: column;
  }
  .aboutProject__header-descript {
    font-size: 18px;
  }
  .aboutProject__description {
    margin-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }
  .aboutProject__text-container {
    margin-bottom: 56px;
  }
  .aboutProject__text-container:last-child {
    margin-bottom: 0;
  }
  .aboutProject__progress-bar {
    margin-top: 60px;
  }
  .aboutProject__progress-backend, .aboutProject__progress-frontend {
    font-size: 11px;
  }
  .aboutProject__progress-backend {
    width: 35.22%;
  }
  .aboutProject__progress-frontend {
    width: 64.78%;
  }
  .aboutProject__progress-subtitle {
    top: 46px;
    font-size: 11px;
  }
}
