.not-found {
 display: flex;
 align-items: center;
 flex-direction: column;
}
.not-found__title {
  margin: 0;
  margin-top: 246px;

  height: 169px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 140px;
  text-align: center;
  color: #000;
}
.not-found__caption {
  margin: 0;
  margin-top: 5px;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #000;
}
.not-found__link-back {
  margin: 0;
  margin-top: 184px;
  margin-bottom: 60px;
  text-decoration: none;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #3456F3;

  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}


@media screen and (min-width: 700px) and (max-width: 1136px) {
  .not-found__title {
    margin-top: 408px;
  }
}

@media screen and (max-width: 699px) {
  .not-found__title {
    margin-top: 329px;
    font-size: 80px;
    height: 97px;
  }
  .not-found__caption {
    font-size: 12px;
    margin-top: 10px;
  }
  .not-found__link-back {
    font-size: 12px;
    margin-top: 284px;
    margin-bottom: 30px;
  }
}
