.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.section {
  width: 100%;
  max-width: 1280px;
}
.wrapper {
  width: calc(100% - 140px);
}

.link-hover {
  transition: .3s ease opacity;
}
.link-hover:hover {
  opacity: .8;
}
