.content {
  
}
.section {
  width: 100%;
}
.wrapper {
  width: calc(100% - 140px);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 574px;

  background-color: #073042;
}
.hero__wrapper {
  max-height: 424px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.hero__description {
  margin: 0;
  
  width: 640px;

  font-size: 50px;
  font-weight: 400;
  font-family: 'Inter';
  color: #FFF;
  line-height: 58px;
}
.hero__text {
  margin: 0;

  margin-top: 36px;
  width: 310px;

  font-size: 13px;
  font-weight: 400;
  font-family: 'Inter';
  color: #FFF;
  line-height: 15.73px;

  opacity: .5;
}
.hero__button-more {
  margin-top: 146px;
  width: 129px;
  height: 36px;
  border: 1px solid #fff;
  border-radius: 3px;
  outline: none;

  background-color: transparent;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #fff;

  cursor: pointer;
}
.hero__landing-logo {
  width: 310px;
  height: 304px;

  align-self: end;

  background-color: transparent;
  background-image: url(../../images/hero__landing-logo.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
