.movies-cardlist {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 403px;

  margin-top: 70px;
  margin-bottom: 28px;
}
.movies-cardlist__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-auto-flow: row;
  gap: 58px 30px;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.movies-cardlist__text {
  margin: 0;
  
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #ababab;
  line-height: 27px;
}
