.header__wrapper-menu {
  margin-left: 44px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.header__wrapper-menu_unlogged {
  justify-content: flex-end;
}
.header__action-reigister {
  margin: 0;
  align-self: center;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}
.header__action-login {
  display: flex;
  margin: 0;
  margin-left: 30px;

  justify-content: center;
  align-items: center;
  
  width: 76px;
  height: 32px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000;
  text-decoration: none;

  background-color: #2BE080;
  border-radius: 3px;
}

.header__menu-link {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  
  color: #000;
  text-decoration: none;
  margin-right: 16px;
}
.header__menu-link:last-child {
  margin-right: 0;
}

.header__action-account {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 32px;

  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;

  color: #000;
  text-decoration: none;
  
  background: #F9F9F9;
  border-radius: 20px;
}

.popup-menu {
  display: none;
  visibility: hidden;
}
.popup-menu__cover {
  display: none;
  visibility: hidden;
}
.header__menu-link_underline  {
  text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 1136px) {
  .header__wrapper-menu_site-visibility {
    display: none;
    visibility: hidden;
  }
  .popup-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: calc(100vw - 248px);
    visibility: visible;

    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
  }
  .header__wrapper-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__wrapper-menu {
    margin: 0;
    margin-top: 159px;
  }
  .header__menu-link {
    margin: 0;
    margin-bottom: 28px;
    
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;

    color: #000;
  }
  .header__menu-link:last-child {
    margin-bottom: 0;
  }

  .header__action-account {
    margin-bottom: 98px;
    margin-top: 50px;
    background-color: #F9F9F9;
    border-radius: 20px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;

    color: #000;
  }

  .popup-menu__cover { 
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    visibility: visible;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .3;
    z-index: 998;
  }
}
