.promo {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 75px;
  padding-bottom: 75px;

  background-color: #073042;
}
.promo__wrapper {
  max-height: 426px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.promo__description {
  margin: 0;
  
  width: 640px;

  font-size: 50px;
  font-weight: 400;
  font-family: 'Inter';
  color: #FFF;
  line-height: 58px;
}
.promo__text {
  margin: 0;

  margin-top: 36px;
  width: 310px;

  font-size: 13px;
  font-weight: 400;
  font-family: 'Inter';
  color: #FFF;
  line-height: 15.73px;

  opacity: .5;
}
.promo__button-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  line-height: 0;
  margin-top: 146px;
  width: 129px;
  height: 36px;
  border: 1px solid #fff;
  border-radius: 3px;

  background-color: transparent;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-decoration: none;

  cursor: pointer;

  transition: .3s ease opacity;
}
.promo__button-more:hover { 
  opacity: .8;
}
.promo__landing-logo {
  width: 310px;
  height: 304px;

  align-self: end;

  background-color: transparent;
  background-image: url(../../../images/promo__landing-logo.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
