.promo {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 75px;
  padding-bottom: 75px;

  background-color: #073042;
}
.promo__wrapper {
  max-height: 430px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.promo__description {
  margin: 0;
  
  width: 640px;

  font-size: 50px;
  font-weight: 400;
  font-family: 'Inter';
  color: #FFF;
  line-height: 58px;
}
.promo__text {
  margin: 0;

  margin-top: 36px;
  width: 310px;

  font-size: 13px;
  font-weight: 400;
  font-family: 'Inter';
  color: #FFF;
  line-height: 15.73px;

  opacity: .5;
}
.promo__button-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  line-height: 0;
  margin-top: 146px;
  width: 129px;
  height: 36px;
  border: 1px solid #fff;
  border-radius: 3px;

  background-color: transparent;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-decoration: none;

  cursor: pointer;
}
.promo__landing-logo {
  width: 310px;
  height: 304px;

  align-self: end;

  background-color: transparent;
  background-image: url(../../../images/promo__landing-logo.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

@media screen and (min-width: 768px) and (max-width: 1136px) {
  .promo {
    padding-top: 140px;
    padding-bottom: 76px;
  }
  .promo__wrapper {
    max-height: 850px;
    align-items: center;
    flex-wrap: nowrap;
  }
  .promo__landing-logo {
    order: -1;
    align-self: center;
  }
  .promo__description {
    margin-top: 48px;
    width: 680px;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
  }
  .promo__text {
    margin-top: 22px;
    width: 260px;
  
    font-size: 13px;
    line-height: 15.73px;
    text-align: center;
  }
  .promo__button-more {
    margin-top: 92px;
  }
  .promo_display-br {
    display: none;
  }
}
