.aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
  padding-bottom: 115px;

  background-color: #fff;
}
.aboutMe__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutMe__header {
  align-self: start;
}

.aboutMe__student-article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  
  max-height: 390px;
  margin-top: 66px;
}
.aboutMe__student-name {
  margin: 0;
  
  font-family: 'Inter';
  font-weight: 400;
  font-size: 50px;
  letter-spacing: -0.04em;
  color: #000000;
  text-align: left;
}
.aboutMe__student-info {
  margin: 0;
  margin-top: 18px;
  
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  
  color: #000000;
  text-align: left;
}
.aboutMe__student-description {
  margin: 0;
  margin-top: 26px;
  
  max-width: 600px;

  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  
  color: #000000;
  text-align: justify;
}
.aboutMe__link-to-github {
  margin: 0;
  margin-top: 99px;

  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;

  color: #000000;
  text-align: left;
  text-decoration: none;

  transition: .3s ease opacity
}
.aboutMe__link-to-github:hover {
  opacity: .8;
}
.aboutMe__student-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;

  width: 270px;
  height: 327px;
  background: url(../../../images/student-avatar.jpg) no-repeat center/cover;
  border-radius: 10px;

  overflow: hidden;
}

.aboutMe__portfolio {
  margin: 0;
  margin-top: 100px;

  align-self: start;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  
  color: #A0A0A0;
}

.aboutMe__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  margin-top: 50px;
  width: 100%;
}
.aboutMe__link-item {
  margin: 0;
  height: 60px;
  text-decoration: none;

  transition: .3s ease opacity;
}
.aboutMe__link-item:hover {
  opacity: .8;
}
.aboutMe__item {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutMe__item-name {
  margin: 0;
  height: 50px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  
  letter-spacing: -0.04em;
  
  color: #000000;
}
.aboutMe__item-arrow {
  width: 29px;
  height: 60px;

  background-color: transparent;
  background: url(../../../images/item-arrow.svg) no-repeat center/cover;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.aboutMe__list-line {
  width: 100%;
  height: 1px;
  margin-top: 9px;
  margin-bottom: 20px;
  background: #E8E8E8;
}


