.search-form__filter-switch {
  padding: 0 6px 0 6px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 29px;

  border: none;
  outline: none;

  min-width: 36px;
  height: 20px;
  background-color: #2BE080;
  border-radius: 20px;

  cursor: pointer;
}
.search-form__switch-marker {
  justify-self: flex-end;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
}
.search-form__filter-name {
  margin: 0;
  margin-left: 14px;
  margin-right: 30px;

  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}

.search-form__filter-switch_desktop-visibility {
  display: flex;
  align-items: center;
}
.search-form__filter-switch_mobile-visibility {
  display: none;
}

@media screen and (max-width: 699px) {
  .search-form__filter-switch_desktop-visibility {
    display: none;
  }
  .search-form__filter-switch_mobile-visibility {
    display: flex;
    align-items: center;
    margin-top: 46px;
  }
  .search-form__filter-name {
    font-size: 11px;
  }
}

